

@media screen and (max-width:1024px){

    .container{
        display: flex;
    }

    .timeazul{
        display: none;
    }

    .area-esquerda{
        display: none;
        width:100vw
    }

    #selecao{
        width:100%;
    }


}

@media screen and (max-width: 768px){

    .timeazul{
        display: none;
    }
    .area-esquerda{
        display: none;
    }

    #selecao{
        margin-top:120px;
    }

}
